.container {
  height: 50px;
  font-size: 14px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.imageContainer {
  width: 15px;
  height: 15px;
  position: absolute;
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  opacity: 60%;
  cursor: pointer;
}
